$widthSite: 1400px;
$contentWidth: 1141px;
$backgroundColorMain: #F8F3F4;
$backgroundColorNavFooter: #222222;
$colorTextHeading:#F16D7F;
$fontStyle:'Lato', sans-serif;
$navFooterPadding: 10px 20px;
$paddingsContainer: 20px 20px 20px 20px;
$minHeightContainer: 150px;
$cursorContent: pointer;
$imageHeight: auto;